.login 
    border-radius .5em 
    background rgba(white, .5)
    position relative
    width 100%
    padding 60px .5em
    &-header 
        &-figure 
            position absolute 
            top -50px
            width 100%
            display flex 
            justify-content center
            &-avatar
                height 100px 
                width 100px
                border-radius 50%
                padding .5em
@media (min-width: 576px) 
    .login 
        width 350px

@media (min-width: 1000px) 
    .login 
        width 400px
        