.panel
    &-right
        &-wrapper 
            display flex 
            justify-content center  
            >div 
                width 100%
    &-left
        &-wrapper 
            height 100vh 
            overflow-y auto
.dashboard 
    display flex 
    flex-direction column
    width 100%
    &-item 
        display flex 
        align-items center
        border-bottom 1px solid gray
        padding .5em 0
        width 100%
        &-image 
            width 120px 
            height 90px
        &-wrapper 
            width 100%
            padding-left .5em
            &-link 
                display block 
                color #eeeeee
@media (min-width: 480px) 
    .dashboard 
        &-item 
            flex-direction column 
            &-image 
                height 150px
                width 200px
            &-wrapper 
                padding 0 .5em 

@media (min-width: 1000px) 
    .dashboard 
        &-item 
            &-image 
                height 180px
                width 240px