@import "../css/materialize.min.css"
@import "../css/materialize-icon.css"
@import "../css/icon-moon.css"
@import "./utils.styl"
@import "./dashboard.styl"
//Components 
@import "../js/components/header/containers/header.styl"
@import "../js/components/footer/containers/footer.styl"
@import "../js/components/login/containers/login.styl"
@import "../js/components/menu/containers/menu.styl"

a
article
aside
body
div
figcaption
figure
h1
h2
h3
h4
h5
header
input
li
p
section
select
option
span
table
tbody
textarea
th
thead
tr
ul
ol
video
img{
	box-sizing border-box
	margin 0
	padding 0
}
a{
	text-decoration none
	color white
}
body{
	background  #eff2e7
	font-family "Sans-Serif" "Comic Sans MS"
	font-size 16px
}

li
	list-style none
img
	vertical-align top
.main
	width 100%
